body {
    font-family: Arial, sans-serif;
    background-color: #0B0829;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #ffffff;
}

/* Estilo da Tabela */
table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #000000;
}

th {
    background-color: #FF8400;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Cores das Prioridades */
.prioridade.alta { color: #d9534f; font-weight: bold; }
.prioridade.média { color: #c79c11; font-weight: bold; }
.prioridade.baixa { color: #5cb85c; font-weight: bold; }

/* Botões */
.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-adicionar { background-color: #FF8400; }
.btn-editar { background-color: #6a83d4; padding: 5px 10px; font-size: 14px;}
.btn-excluir { background-color: #c53232; padding: 5px 10px; font-size: 14px;}
.btn-voltar { background-color: #3c3c3c; }

/* Formulários */
form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
}

label { margin-top: 10px; font-weight: bold; }
input, select, textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #307143;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn, button {
    transition: all 0.3s ease;
}

.btn:hover, button:hover {
    filter: brightness(0.85); 
    transform: scale(1.05);  
    cursor: pointer;         
}