<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Tarefa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Nova Tarefa</h1>
    <form action="/criar" method="POST">
        <label>Título (Obrigatório)</label>
        <input type="text" name="titulo" required>

        <label>Descrição</label>
        <textarea name="descricao"></textarea>

        <label>Data de Vencimento</label>
        <input type="date" name="data_vencimento">

        <label>Prioridade</label>
        <select name="prioridade">
            <option value="Baixa">Baixa</option>
            <option value="Média">Média</option>
            <option value="Alta">Alta</option>
        </select>

        <button type="submit" style="font-size: 17px; padding: 15px;">Salvar Tarefa</button>
        <br>
        <a href="/" style="text-align:center; color: #777; text-decoration: none;">Cancelar</a>
    </form>
</body>
</html>